body {
    /*
    border-top: solid 1px rgb(151, 151, 151);
    border-left: solid 1px rgb(151, 151, 151);
    border-right: solid 1px rgb(151, 151, 151);
    border-bottom: solid 1px rgb(151, 151, 151);
    border: solid 1px rgb(151, 151, 151); */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    width: 100%;
    align-items: center;
}

main {
    display: grid;
    grid-template-areas: "c c" "d d" "e f" "g h";
    align-items: center;
}

div {
    width: 100%;
    width: 480px;
    background-color: #D8D8D8;
}

.a {
    height: 75px;
    padding: 25px;
    border-top: solid 1px rgb(151, 151, 151);
    border-left: solid 1px rgb(151, 151, 151);
    border-right: solid 1px rgb(151, 151, 151);
    border-bottom: solid 1px rgb(151, 151, 151);
}

.b {
    height: 150px;
    padding: 65px;
    border-left: solid 1px rgb(151, 151, 151);
    border-right: solid 1px rgb(151, 151, 151);
    border-bottom: solid 1px rgb(151, 151, 151);
}

.c, .d {
    height: 125px;
    padding: 52.5px;
    border-left: solid 1px rgb(151, 151, 151);
    border-right: solid 1px rgb(151, 151, 151);
    border-bottom: solid 1px rgb(151, 151, 151);
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e, .f, .g, .h {
    height: 250px;
    padding: 115px;
    width: 100%;
    border-left: solid 1px rgb(151, 151, 151);
    border-bottom: solid 1px rgb(151, 151, 151);
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}

.i {
    height: 80px;
    padding: 30px;
    border-left: solid 1px rgb(151, 151, 151);
    border-right: solid 1px rgb(151, 151, 151);
    border-bottom: solid 1px rgb(151, 151, 151);
}

@media (min-width:768px) and (max-width:960px) {
    body {
        height: 100%;
        width: 100%;
        /*
        border-top: solid 1px rgb(151, 151, 151);
        border-left: solid 1px rgb(151, 151, 151);
        border-right: solid 1px rgb(151, 151, 151);
        border-bottom: solid 1px rgb(151, 151, 151);
        border: solid 1px rgb(151, 151, 151); */
        display: grid;
        justify-items: center;
        text-align: center;
        width: 100%;
        grid-template-areas: " header header header " "aside main main" "aside footer footer";
        overflow: hidden;
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
        display: grid;
        grid-template-areas: "c c d d" "e f g h";
    }
    aside {
        grid-area: aside;
    }
    footer {
        grid-area: footer;
    }
    div {
        background-color: #D8D8D8;
    }
    .a {
        height: 100px;
        width: 960px;
        padding: 40px;
        border: none;
        border-top: solid 1px rgb(151, 151, 151);
        border-left: solid 1px rgb(151, 151, 151);
        border-right: solid 1px rgb(151, 151, 151);
        border-bottom: solid 1px rgb(151, 151, 151);
    }
    .b {
        height: 600px;
        width: 200px;
        padding: 290px 0;
        border: none;
        border-left: solid 1px rgb(151, 151, 151);
        border-right: solid 1px rgb(151, 151, 151);
        border-bottom: solid 1px rgb(151, 151, 151);
    }
    .c, .d {
        height: 200px;
        width: 380px;
        padding: 90px;
        border: none;
        border-right: solid 1px rgb(151, 151, 151);
        border-bottom: solid 1px rgb(151, 151, 151);
    }
    .c {
        grid-area: c;
    }
    .d {
        grid-area: d;
    }
    .e, .f, .g, .h {
        height: 250px;
        width: 190px;
        padding: 115px 0;
        width: 100%;
        border-right: solid 1px rgb(151, 151, 151);
        border-bottom: solid 1px rgb(151, 151, 151);
    }
    .e {
        grid-area: e;
    }
    .f {
        grid-area: f;
    }
    .g {
        grid-area: g;
    }
    .h {
        grid-area: h;
    }
    .i {
        height: 150px;
        width: 760px;
        padding: 30px;
        border: none;
        border-right: solid 1px rgb(151, 151, 151);
        border-bottom: solid 1px rgb(151, 151, 151);
    }
}

@media (min-width:961px) {}