* {

box-sizing: border-box;
}
html{
    margin: 0px;
padding: 0px;

}
body
{
    display: table;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 1%;
    
}
div {

    display: block;
    margin: 0 auto;
    background-color: #D8D8D8;
   
}



p{
    

    height: 100%;
    
    text-align: center;

}

.width-480{
    min-width: 480px;
    max-width: 767px;
}

.width-240{
    min-width: 240px;
    max-width: 383.5px;

}


.height-75{
  height:75px;
  padding: 25px;
}

.height-150{
    height: 150px;
    padding: 63px;
}
.height-125{
    height: 125px;
    padding: 50px;
}
.height-250{

    height: 250px;
    padding: 113px;
}

.height-80{
    height: 240px;
    padding: 108px;
}

.a{
    border:solid 1px rgb(151, 151, 151);;
   
}

.b{
    border-left:solid 1px rgb(151, 151, 151);;
    border-right:solid 1px rgb(151, 151, 151);;

}

.c{
    border:solid 1px rgb(151, 151, 151);
   

}

.d{
    
    border-left:solid 1px rgb(151, 151, 151);
    border-right:solid 1px rgb(151, 151, 151);
}

.e{
   
    float: left;
    border: none;

    
    border-right:solid 1px rgb(151, 151, 151);;
    
}

.f{
    float: left;
    border: none;

    
}

.g{
    float: left; 
    border: none;
  
    border-right:solid 1px rgb(151, 151, 151);;
}

.h{
    float: left;
    border: none;
}

.i{
    border:solid 1px rgb(151, 151, 151);;
  
}

.div-container{

    display: table;
    background-color:rgb(158, 144, 144);

    border-left:solid 1px rgb(151, 151, 151);;
    border-right:solid 1px rgb(151, 151, 151);;
    border-top:solid 1px rgb(151, 151, 151);;
}



@media  (min-width: 769px) and (max-width: 960px) {
    
.a{
    width: 960px;
   height: 100px;
   padding: 0;
}

.b{
    width: 200px;
   height: 600px;
   padding: 0;
}

.c{
    width: 380px;
    height: 200px;
    padding: 0;

}

.d{
    
    width: 380px;
    height: 200px;
    padding: 0;
}

.e{
   
    width: 90px;
    height: 250px;
    padding: 0;
     
    
}

.f{
    width: 90px;
    height: 250px;
    padding: 0;

    
}

.g{
    width: 90px;
    height: 250px;
    padding: 0;
}

.h{
    width: 90px;
    height: 250px;
    padding: 0;
}

.i{
    width: 760px;
    height: 150px;
    padding: 0;
    margin: 0;
}
  
}